<ion-menu [content]="mainContent" side="left" id="menu1">
  // Left Menu
  <ion-content id="side-menu21">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item color="none" id="menu-list-item12">
            <ion-avatar item-left>
              <img src="assets/img/avatar.gif" />
            </ion-avatar>
            <h2 *ngIf="user!=='undefined'">{{user.prenom}}</h2>
            <p *ngIf="user!=='undefined'">{{user.nom}}</p>
            <button id="connexion-button1" ion-button color="stable" menuClose="" block on-click="goToMesInfos()">
            Voir le profil
          </button>

          </ion-item>


        </ion-col>



      </ion-row>
    </ion-grid>

    <ion-list id="menu-list3">
      <ion-item (click)="menuItemHandler1()">Transport</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu1">
        <ion-item submenu-item menuClose="" on-click="goToShop('Agences de transport terrestre')">
          <ion-icon name="ionic" item-left></ion-icon>
          Agences de transport terrestre</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Agences aérienne')">
          <ion-icon name="ionic" item-left></ion-icon>
          Agences aérienne</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Agences de location de véhicules')">
          <ion-icon name="ionic" item-left></ion-icon>
          Agences de location de véhicules</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Agences fluviale')">
          <ion-icon name="ionic" item-left></ion-icon>
          Agences fluviale</ion-item>
      </ion-item-group>
      <ion-item (click)="menuItemHandler2()">Restauration</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu2">
        <ion-item submenu-item menuClose="" on-click="goToShop('Fast Food')">
          <ion-icon name="ionic" item-left></ion-icon>
          Fast Food</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Pizzariat')">
          <ion-icon name="ionic" item-left></ion-icon>
          Pizzariat</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Restaurants')">
          <ion-icon name="ionic" item-left></ion-icon>
          Restaurants</ion-item>
      </ion-item-group>
      <ion-item (click)="menuItemHandler3()">Club</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu3">
        <ion-item submenu-item menuClose="" on-click="goToShop('Boites de nuit')">
          <ion-icon name="ionic" item-left></ion-icon>
          Boites de nuit</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Snack-bar')">
          <ion-icon name="ionic" item-left></ion-icon>
          Snack-bar</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Bars')">
          <ion-icon name="ionic" item-left></ion-icon>
          Bars</ion-item>
      </ion-item-group>
      <ion-item (click)="menuItemHandler4()">E-commerce</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu4">
        <ion-item submenu-item menuClose="" on-click="goToShop('Vêtements')">
          <ion-icon name="ionic" item-left></ion-icon>
          Vêtements</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Électronique')">
          <ion-icon name="ionic" item-left></ion-icon>
          Électronique</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Art et Design')">
          <ion-icon name="ionic" item-left></ion-icon>
          Art et Design</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Évènementiel')">
          <ion-icon name="ionic" item-left></ion-icon>
          Évènementiel</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Documentalisation')">
          <ion-icon name="ionic" item-left></ion-icon>
          Documentalisation</ion-item>
      </ion-item-group>
      <ion-item (click)="menuItemHandler4()">Locations et ventes</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu4">
        <ion-item submenu-item menuClose="" on-click="goToShop('Immobilier')">
          <ion-icon name="ionic" item-left></ion-icon>
          Immobilier</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Électronique')">
          <ion-icon name="ionic" item-left></ion-icon>
          Électronique</ion-item>
        <ion-item submenu-item menuClose="" on-click="goToShop('Véhicules et pièces détachées')">
          <ion-icon name="ionic" item-left></ion-icon>
          Véhicules et pièces détachées</ion-item>
      </ion-item-group>

      <p text-center><strong>Created by Capp</strong></p>

  <!--
      <ion-item color="none" menuClose="" on-click="goToPizzeria()" id="menu-list-item5">
        <ion-icon name="ionic" item-left></ion-icon>
        Pizzerias
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToRestaurantAfricain()" id="menu-list-item7">
        <ion-icon name="ionic" item-left></ion-icon>
        Restaurant Africain
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToRestaurantFranAis()" id="menu-list-item9">
        <ion-icon name="ionic" item-left></ion-icon>
        Restaurant Français
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToRestaurantLibanais()" id="menu-list-item8">
        <ion-icon name="ionic" item-left></ion-icon>
        Restaurant Libanais
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToRestaurantChinois()" id="menu-list-item6">
        <ion-icon name="ionic" item-left></ion-icon>
        Restaurant chinois
      </ion-item>
    -->
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="mainContent" side="right" id="menu2">
  <!--<ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>-->


  <ion-content id="side-menu22">

    <ion-list id="menu-list3">

      <ion-item color="none" menuClose="" on-click="goToMesInfos()" id="menu-list-item10">
        <ion-icon name="contact" item-left></ion-icon>
        Mes infos
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToMesCommandes()" id="menu-list-item11">
        <ion-icon name="cart" item-left></ion-icon>
        Mes commandes
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToFAQ()" id="menu-list-item12">
        <ion-icon name="help-circle" item-left></ion-icon>
        FAQ
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToContact()" id="menu-list-item13">
        <ion-icon name="mail" item-left></ion-icon>
        Contact
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToParametres()" id="menu-list-item14">
        <ion-icon name="power" item-left></ion-icon>
        Déconnexion
      </ion-item>
      <!--
      <ion-item color="none" menuClose="" on-click="goToParametres()" id="menu-list-item14">
        <ion-icon name="settings" item-left></ion-icon>
        Paramètres
      </ion-item>-->
    </ion-list>
  </ion-content>

</ion-menu>



<ion-nav #mainContent [root]="rootPage"></ion-nav>
